body {
    font-family: Arial;
    background: #f0f2f5;
    padding: 30px;
}

h1 {
    color: #1e3a8a;
    text-align: center;
    margin-bottom: 25px;
}

form {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, select {
    padding: 7px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    border-radius: 6px;
}

button[type="submit"] {
    background: #2ecc71;
    color: white;
}

button[type="button"] {
    background: #444;
    color: white;
}
input[readonly] {
    background-color: #e9ecef !important;
    cursor: not-allowed;
    font-weight: 600;
}
